.carta {
    background-image: url("/images/cartaB.png");
    background-size: cover;
    background-position: center;
    height: 470px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Russo One", sans-serif;
    flex-direction: column;
    filter: drop-shadow(1px 1px 10px #ea00ff);
}

.cartaSmall {
    height: 169px; /* 10% menos de 188px */
    width: 169px; /* 10% menos de 188px */
}

.seccion1 {
    display: flex;
    flex-direction: row;
}

.seccion1Small {
    display: flex;
    flex-direction: row;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -10px;
}

.seccion2Small {
    display: flex;
    flex-direction: column;
    margin-top: -4px; /* 10% menos de -4px */
}

.seccion3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.seccion3Small {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ajustar para la versión pequeña */
}

.img {
    height: 270px; /* Ajustado a 50% */
    width: 250px; /* Ajustado a 50% */
}

.imgSmall {
    height: 97px; /* 10% menos de 108px */
    width: 90px; /* 10% menos de 100px */
}

.imgcaract {
    height: 50px; /* Ajustado a 50% */
    width: 50px; /* Ajustado a 50% */
}

.imgcaractSmall {
    height: 18px; /* 10% menos de 20px */
    width: 18px; /* 10% menos de 20px */
}

.p {
    margin-top: 14px; /* Ajustado a 50% */
    margin-left: 2px; /* Ajustado a 50% */
}

.pSmall {
    margin-top: 4px; /* 10% menos de 5px */
    margin-left: 0px; /* 10% menos de 0px */
}

/* Estilos para las estadísticas */
.imgstatA,
.imgstatC,
.imgstatD {
    height: 70px; /* Ajustado a 50% */
    width: 70px; /* Ajustado a 50% */
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 0 0 5px #000000, 0 0 10px #0091ff;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease; /* Transiciones para escala y filtro */
}

.imgstatA {
    background-image: url("/images/statsAtaque.png");
}

.imgstatC {
    background-image: url("/images/statsControl.png");
    margin-left: 20px;
    margin-right: 20px;
}

.imgstatD {
    background-image: url("/images/statsDefensa.png");
}

/* Estilos para la versión pequeña */
.imgstatASmall,
.imgstatCSmall,
.imgstatDSmall {
    height: 25px; /* 10% menos de 28px */
    width: 25px; /* 10% menos de 28px */
    background-size: cover;
    background-position: center;
    font-size: 11px; /* 10% menos de 12px */
    color: #ffffff;
    text-shadow: 0 0 5px #000000, 0 0 10px #0091ff;
}

.imgstatA:hover,
.imgstatC:hover,
.imgstatD:hover {
    transform: scale(1.4);
    filter: drop-shadow(1px 1px 10px #000000);
}

/* Clase para el estado activo */
.activeStat {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8)); /* Sombreado diferente */
    transform: scale(1.1); /* Aumentar un poco el tamaño */
    position: relative; /* Para que se pueda mover al centro */
    z-index: 1; /* Asegurarse que esté en el frente */
}

/* Ocultar estadísticas no seleccionadas */
.hidden {
    display: none; /* Ocultar la estadística */
}

/* Ajustes para centrar la estadística seleccionada */
.imgstatA {
    margin-right: 20px; /* Espaciado normal */
}

.imgstatC {
    /* Control en el centro, sin margen */
}

.imgstatD {
    margin-left: 20px; /* Espaciado normal */
}

/* Estilos para la característica principal */
.caracteristicaPrin {
    margin-top: 10px; /* Ajustado a 50% */
    margin-bottom: 1px;
    font-size: 50px; /* Ajustado a 50% */
}

.caracteristicaPrinSmall {
    font-size: 18px; /* 10% menos de 20px */
}

/* Estilos para el título */
.titulo {
    font-size: 36px;
    color: #ffffff;
    text-shadow: 0 0 5px #000000, 0 0 10px #0091ff;
    letter-spacing: 3px; /* Ajustado a 67% */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 10px; /* Ajustado a 50% */
    margin-bottom: 15px; /* Ajustado a 67% */
}

.tituloSmall {
    font-size: 13px; /* 10% menos de 14px */
    color: #ffffff;
    text-shadow: 0 0 5px #000000, 0 0 10px #0091ff;
    letter-spacing: 1.8px; /* 10% menos de 2px */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 4px; /* 10% menos de 4px */
    margin-bottom: 7px; /* 10% menos de 8px */
}

/* Estilo para la posición */
.posicion {
    color: white;
    font-size: 40px; /* Ajustado a 50% */
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

.posicionSmall {
    font-size: 14px; /* 10% menos de 16px */
}

/* Margen para las características */
.caracteristicas {
    margin-top: 5px; /* Ajustado a 50% */
}

/* Imagen con degradado */
.imagenConDegrade {
    position: relative;
    overflow: hidden; /* Para ocultar el degradado que se extiende más allá de la imagen */
}

.degrade {
    justify-content: center;
    margin-left: 3.9px;
    margin-bottom: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%; /* Ajusta según lo necesites */
    width: 96%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(255, 0, 208, 0.9) 90%); /* Aumentar la opacidad */
    border-radius: 5px;
    pointer-events: none; /* Para que los eventos pasen a la imagen */
}
