.carta {
    background-image: url("/images/cartaB.png");
    background-size: cover;
    background-position: center;
    height: 470px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Russo One", sans-serif;
    flex-direction: column; 
}

.cartaSmall {
    height: 188px; /* 80% de 235px */
    width: 188px; /* 80% de 235px */
}

.seccion1 {
    display: flex;
    flex-direction: row;
}

.seccion1Small {
    flex-direction: column; /* Cambiamos la dirección para la versión pequeña */
}

.seccion2 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -10px;
}

.seccion2Small {
    margin-top: -4px; /* 80% de -5px */
}

.seccion3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.seccion3Small {
    justify-content: space-between; /* Ajustar para la versión pequeña */
}

.img {
    height: 270px; /* Ajustado a 50% */
    width: 250px; /* Ajustado a 50% */
}

.imgSmall {
    height: 108px; /* 80% de 135px */
    width: 100px; /* 80% de 125px */
}

.imgcaract {
    height: 50px; /* Ajustado a 50% */
    width: 50px; /* Ajustado a 50% */
}

.imgcaractSmall {
    height: 20px; /* 80% de 25px */
    width: 20px; /* 80% de 25px */
}

.p {
    margin-top: 14px; /* Ajustado a 50% */
    margin-left: 2px; /* Ajustado a 50% */
}

.pSmall {
    margin-top: 5px; /* 80% de 7px */
    margin-left: 0px; /* 80% de 1px */
}

.imgstatA {
    height: 70px; /* Ajustado a 50% */
    width: 70px; /* Ajustado a 50% */
    background-image: url("/images/statsAtaque.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatC {
    height: 70px; /* Ajustado a 50% */
    width: 70px; /* Ajustado a 50% */
    background-image: url("/images/statsControl.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatD {
    height: 70px; /* Ajustado a 50% */
    width: 70px; /* Ajustado a 50% */
    background-image: url("/images/statsDefensa.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatASmall {
    height: 28px; /* 80% de 35px */
    width: 28px; /* 80% de 35px */
    background-image: url("/images/statsAtaque.png");
    background-size: cover;
    background-position: center;
    font-size: 12px; /* 80% de 15px */
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatCSmall {
    height: 28px; /* 80% de 35px */
    width: 28px; /* 80% de 35px */
    background-image: url("/images/statsControl.png");
    background-size: cover;
    background-position: center;
    font-size: 12px; /* 80% de 15px */
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatDSmall {
    height: 28px; /* 80% de 35px */
    width: 28px; /* 80% de 35px */
    background-image: url("/images/statsDefensa.png");
    background-size: cover;
    background-position: center;
    font-size: 12px; /* 80% de 15px */
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.caracteristicaPrin {
    margin-top: 10px; /* Ajustado a 50% */
    margin-bottom: 1px;
    font-size: 50px; /* Ajustado a 50% */
}

.caracteristicaPrinSmall {
    font-size: 20px; /* 80% de 25px */
}

.titulo {
    font-size: 36px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
    letter-spacing: 3px; /* Ajustado a 67% */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 10px; /* Ajustado a 50% */
    margin-bottom: 15px; /* Ajustado a 67% */
}
    
.tituloSmall {
    font-size: 14px; /* 80% de 18px */
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
    letter-spacing: 2px; /* Ajustado a 67% */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 4px; /* 80% de 5px */
    margin-bottom: 8px; /* 80% de 10px */
}

.posicion {
    color: white;
    font-size: 40px; /* Ajustado a 50% */
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

.posicionSmall {
    font-size: 16px; /* 80% de 20px */
}

.caracteristicas {
    margin-top: 5px; /* Ajustado a 50% */
}
