.Desk {
    background: linear-gradient(270deg, rgb(16, 0, 42), #17000a);
    border: 1px solid white;
    box-shadow:
    0 0 5px #00ffff, 
    0 0 10px #00ffff;
    border-radius: 25px;
    margin: 1.5em 1.5em 0 0;
    max-height: 92vh;
    display: flex; /* Habilita flexbox */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
    padding: 10px; /* Espacio interno para que las tarjetas no toquen los bordes */
}
    