.carta {
    background-image: url("/images/cartaB.png");
    background-size: cover;
    background-position: center;
    height: 470px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Russo One", sans-serif;
    flex-direction: column; 
}

.seccion1 {
    display: flex;
    flex-direction: row;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -10px;
}

.seccion3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.linea{
    height: 1px;
    width: 50px;
    background-color: #ff00e1;
    justify-content: center;
}


.img {
    
    height: 270px;
    width: 250px;
}

.imgcaract {
    height: 50px;
    width: 50px;
}

.p {
    margin-top: 14px;
    margin-left: 2px;
}

.imgstatA {
    height: 70px;
    width: 70px;
    background-image: url("/images/statsAtaque.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatC {
    height: 70px;
    width: 70px;
    background-image: url("/images/statsControl.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatD {
    height: 70px;
    width: 70px;
    background-image: url("/images/statsDefensa.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.titulo {
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
    letter-spacing: 3px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.caracteristicaPrin{
    margin-top: 20px;
    margin-bottom: 1px;
    font-size: 50px;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.posicion{
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.caracteristicas{
    margin-top: 10px;
}
