.carta {
    background-image: url("/images/cartaB.png");
    background-size: cover;
    background-position: center;
    height: 470px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: "Russo One", sans-serif;
    flex-direction: column; 
}

.cartaSmall {
    height: 169px; /* 10% menos de 188px */
    width: 169px; /* 10% menos de 188px */
}

.seccion1 {
    display: flex;
    flex-direction: row;
}

.seccion1Small {
    display: flex;
    flex-direction: row;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -10px;
}

.seccion2Small {
    display: flex;
    flex-direction: column;
    margin-top: -4px; /* 10% menos de -4px */
}

.seccion3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.seccion3Small {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ajustar para la versión pequeña */
}

.img {
    height: 270px; /* Ajustado a 50% */
    width: 250px; /* Ajustado a 50% */
}

.imgSmall {
    height: 97px; /* 10% menos de 108px */
    width: 90px; /* 10% menos de 100px */
}

.imgcaract {
    height: 50px; /* Ajustado a 50% */
    width: 50px; /* Ajustado a 50% */
}

.imgcaractSmall {
    height: 18px; /* 10% menos de 20px */
    width: 18px; /* 10% menos de 20px */
}

.p {
    margin-top: 14px; /* Ajustado a 50% */
    margin-left: 2px; /* Ajustado a 50% */
}

.pSmall {
    margin-top: 4px; /* 10% menos de 5px */
    margin-left: 0px; /* 10% menos de 0px */
}

.imgstatA {
    height: 70px; /* Ajustado a 50% */
    width: 70px; /* Ajustado a 50% */
    background-image: url("/images/statsAtaque.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatC {
    height: 70px; /* Ajustado a 50% */
    width: 70px; /* Ajustado a 50% */
    background-image: url("/images/statsControl.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatD {
    height: 70px; /* Ajustado a 50% */
    width: 70px; /* Ajustado a 50% */
    background-image: url("/images/statsDefensa.png");
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatASmall {
    height: 25px; /* 10% menos de 28px */
    width: 25px; /* 10% menos de 28px */
    background-image: url("/images/statsAtaque.png");
    background-size: cover;
    background-position: center;
    font-size: 11px; /* 10% menos de 12px */
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatCSmall {
    height: 25px; /* 10% menos de 28px */
    width: 25px; /* 10% menos de 28px */
    background-image: url("/images/statsControl.png");
    background-size: cover;
    background-position: center;
    font-size: 11px; /* 10% menos de 12px */
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.imgstatDSmall {
    height: 25px; /* 10% menos de 28px */
    width: 25px; /* 10% menos de 28px */
    background-image: url("/images/statsDefensa.png");
    background-size: cover;
    background-position: center;
    font-size: 11px; /* 10% menos de 12px */
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
}

.caracteristicaPrin {
    margin-top: 10px; /* Ajustado a 50% */
    margin-bottom: 1px;
    font-size: 50px; /* Ajustado a 50% */
}

.caracteristicaPrinSmall {
    font-size: 18px; /* 10% menos de 20px */
}

.titulo {
    font-size: 36px;
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
    letter-spacing: 3px; /* Ajustado a 67% */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 10px; /* Ajustado a 50% */
    margin-bottom: 15px; /* Ajustado a 67% */
}
    
.tituloSmall {
    font-size: 13px; /* 10% menos de 14px */
    color: #ffffff;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #0091ff;
    letter-spacing: 1.8px; /* 10% menos de 2px */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 4px; /* 10% menos de 4px */
    margin-bottom: 7px; /* 10% menos de 8px */
}

.posicion {
    color: white;
    font-size: 40px; /* Ajustado a 50% */
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

.posicionSmall {
    font-size: 14px; /* 10% menos de 16px */
}

.caracteristicas {
    margin-top: 5px; /* Ajustado a 50% */
}
