.Vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Jugador{
    margin: 10px;
}
.Mc{
    margin-left: 50px;
}
.Mco {
    margin-left: 250px;
    margin-top:-100px;
    margin-bottom:-100px;
}

.Extremos{
    margin-right: 250px;
}

.Delantero{
    margin-left: 150px;
    margin-top:70px;
    margin-bottom:70px;
}