.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(270deg,  #83003788, rgb(16, 0, 42));
    background-color: rgb(16, 0, 42);
    padding: 0 3em 0 2em;
    margin: 0%;
    height: 12.5vh;
    align-items: center;
    flex-wrap: nowrap;
    margin: -0.2em;
    border: solid 3px #bb00ff3b ;
}
.botones {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.prim {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    flex-wrap: nowrap;
}
.titulo {
    font-family: "Russo One", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-shadow:
    0 0 5px #929292,
    0 0 10px #a8a6a6;
    /* /////// */
  font-size: 40px;
}

.Guia {
    background-color: #0b000f;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    /* background: linear-gradient(180deg, #350b49, #46021f); */
    height: 60px;
    width: 150px;
    color: #ffcc00;
    border: solid 0.1px #ffcc00;
    border-radius: 1em;
    cursor: pointer;
}

.Guia:hover {
    transition: 0.5s;
    box-shadow:
    0 0 5px #ffcc00,
    0 0 10px #ffcc00;
    /* /////// */
    transform: scale(1.1);
}

.Jugar {
    background-color: #ffcc00;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    /* background: linear-gradient(180deg, #350b49, #46021f); */
    height: 60px;
    width: 150px;
    color: #000000;
    border: solid 0.1px #000000;
    border-radius: 1em;
    cursor: pointer;
}

.Jugar:hover {
    transition: 0.5s;
    background-color: #350b49;
    color: #ffcc00;
    box-shadow:
    0 0 5px #ffcc00,
    0 0 10px #ffcc00;
    transform: scale(1.1);
}

