.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  border-radius: 50%;
}

.circleWrapper {
  transform: rotate(-90deg); /* Para que comience desde arriba */
}

.circleBackground,
.circleProgress {
  fill: none;
  stroke-width: 10; /* Ancho del borde dinámico */
  transition: stroke-dashoffset 0.3s ease-in-out;
}

.circleBackground {
  stroke: #ddd; /* Color del fondo */
}

.circleProgress {
  stroke: #4caf50; /* Color del progreso */
  stroke-linecap: round;
}

.percentageLabel {
  position: absolute;
  font-size: 21px;
  font-weight: bold;
  color: #e3e3e3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
