
/* RankingTable.module.css */
/* 
.container {
    margin: 20px;
    padding: 20px;
} */
/* 
.table {
    width: 80%; 
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgb(19, 0, 190);
    
} */

/* .th, .td {
    padding: 12px;
    border: 2px solid #ff0090;
    box-shadow: 0 0 15px #003cff;
    text-align: center;
} */

/* .th {
    background-color: rgba(0, 17, 255, 0.575);
    font-weight: bold;
    padding: 12px;
    text-align: center;
    color: rgb(255, 230, 0); 
    text-shadow:
    0 0 1px #ffcc00,
    0 0 3px #ffcc00;
} */

/* 
.tr {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 17, 255, 0.26)
} */

/* .tr:hover {
    background-color: rgba(255, 0, 149, 0.582);
} */

/* .td {
    color: rgb(255, 230, 0);  
    font-weight: bold;  
    text-shadow:
    0 0 1px #ffcc00,
    0 0 3px #ffcc00;
} */

/* RankingTable.module.css */

.container {
    margin: 20px;
    padding: 20px;
}

.table {
    width: 80%; /* Ajusta el valor para achicar o ampliar el ancho */
    margin: 0 auto; /* Centra la tabla */
    border-collapse: collapse;
}

.th, .td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.th {
    background-color: #26002f; /* Amarillo fluorescente */
    font-weight: bold;
    border: 1px solid #ddd;
    text-align: center;
}


.tr {
    background-color: rgb(0, 0, 0); /* Mantiene las filas blancas */
    background-color: rgba(255, 255, 255, 0.5);
}

.tr:hover {
    background-color: rgb(0, 0, 0); /* Evita el cambio de color al pasar el mouse */
}

.td {
    color: white;  /* Texto blanco */
    font-weight: bold;  /* Texto en negrita */
}