.button {
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    background: linear-gradient(180deg, #350b49, #46021f);
    height: 75px;
    width: 270px;
    border-radius: 20px;
    border: solid 3px #5ce1e6;
    color: #ffcc00;
    margin: 40px;
    cursor: pointer;
}

.jugar {
    margin-top: 100px;
    width: 500px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.jugar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

.normal {
    margin-top: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.normal:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

.normal:disabled {
    background-color: #46021f;
    filter: grayscale(100%) opacity(0.5); /* Pone el botón en escala de grises y reduce su opacidad */
    cursor: not-allowed; /* Cambia el cursor para indicar que está deshabilitado */
}
