.carta {
    background-image: url("/images/cartaB.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.img{
    margin-right: 4px;
    margin-top: 5px;
    height: 205px;
    width: 170px;
}

.titulo{
        margin-right: 4px;
        margin-top: -5px;
}
