.carta {
    background-image: url("/images/cartaB.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}