.IconMenu {
    border-radius: 10px;
    border: 0 none;
    height: 40px;
    width: 40px;
    background-color: rgb(14, 14, 14);
    cursor: pointer;
}

.IconMenu:hover {
    background-color: rgb(34, 34, 34);
}
.Nav {
    border-radius: 10px;
    border: 0 none;
    height: 50px;
    width: 50px;
    background-color: rgb(7, 0, 12);
    border: 0.1px solid #ffcc00;
    cursor: pointer;
}
.IconMenu:hover {
    background-color: rgb(34, 34, 34);
}
.IconChat {
    border-radius: 50%;
    border: 0 none;
    height: 50px;
    width: 50px;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.IconChat:hover {
    background-color: rgb(47, 51, 46);
}


.IconSection {
    border-radius: 10px;
    border: 0 none;
    height: 50px;
    width: 50px;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.IconSection:hover {
    background-color: rgb(47, 51, 46);
}