.divFlotante {
    position: fixed;    /* Posición fija para que no se mueva con el scroll */
    z-index: 1000;      /* Asegura que el div esté por encima de otros elementos */
    padding: 20px;      /* Espaciado dentro del div */
    background: #13001f;/* Color de fondo oscuro */
    border: 1px solid black; /* Borde negro */
    border-radius: 8px; /* Esquinas redondeadas */
    cursor: grab;       /* Cursor de mano abierta para indicar que se puede arrastrar */
    transition: box-shadow 0.2s ease-in-out; /* Efecto de transición en la sombra */
}



.divFlotante:active {
    cursor: grabbing;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.button {
    background: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.button.Nav {
    font-size: 16px;
    padding: 12px 24px;
}
