.main {
    display: grid;
    grid-template-columns: 1fr 5fr; /* Dos columnas: la primera más pequeña */
    width: 100vw; 
    height: 100vh; 
}

.informacion {
    padding: 1em;
    text-align: center;
    max-width: 30vw;
    word-wrap: break-word; /* Ajusta el texto para que se mantenga dentro del ancho */
    overflow-wrap: break-word; /* Alternativa moderna a word-wrap */
    white-space: normal; /* Permite que el texto se ajuste y no se desborde */
}

.InfoBotones {
    display: flex;
    /* flex-direction: row; */
}