.button{
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background: linear-gradient(180deg, #350b49, #46021f);
    height: 60px;
    width: 250px;
    border-radius: 20px;
    border: solid 2px #5ce1e6;
    color: #ffcc00;
}