.body{
    background-image: url("/images/fondoPagInicial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.div{
    color: #ffcc00;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
    max-height: 83vh;
    width: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10px;
}
.h1{
    text-align: center;
    color: #ffcc00 ;
    font-size: 70px;
    text-shadow:
    0 0 3px #ffcc00,
    0 0 5px #ffcc00;
    letter-spacing: 3px;
}

.texto{
    font-size: 25px;
}

.Desk::-webkit-scrollbar {
    display: none;
}