.body {
  background-image: url("/images/fondoPagInicial.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: 100vh;
  max-width: 100vw;
}

.table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #4E237C;
}




.titleRow {
  background-color: #853BB4;
}

.tr:hover {
  background-color: #7537A1;
}

.revenue {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .table {
    width: 100%;
  }
}

.titulo {
  text-align: center;
  font-size: 70px;
  text-shadow: 0 0 3px #ffcc001f, 0 0 5px #ffcc003b;
  letter-spacing: 3px;
  margin-bottom: 10px;
  /* Espacio debajo del título */
  font-family: "Russo One", sans-serif;
  color: #ffcc00;
}