.body{
    background-image: url("/images/fondoPagInicial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    max-height: 100vh;
    max-width: 100vw;
}

.main{
    text-align: center;
}