.main{
    text-align: center;
}

.imgDraft{
    margin-right: 210px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.imgDraft:hover{
    transform: scale(0.91);
}

.imgBattle{
    cursor: pointer;
    transition: 0.3s ease;
}

.imgBattle:hover{
    transform: scale(0.91);
}