
/* page.module.css */

.body {

    background-image: url("/images/fondoFutbolitosDraft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.main {
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.divLogOut {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

/* Dropdown container styles */
.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse; /* Coloca el botón encima */
    align-items: left;
    transition: transform 0.5s ease; /* Animación de deslizamiento suave */
    transform: translateY(0);
    margin: 0;
    padding: 0;
    /* z-index: 1; */
}
.buttonContainer {
    display: flex;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, rgba(57, 215, 255, 0.432), #2020b4);
    color: white;
    border: none;
    outline: none;
    /* z-index: 2; */
    border-radius: 20px 20px 0 0;
    transition: background-color 1.5s ease;
    margin: 0;
}

.button:hover {
    background-color: #00fff2;
}
.dropdownContent {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 180px; /* Ajusta la altura */
    display: none; /* Oculto inicialmente */
    transform: translateY(0);
    margin: 0;
    overflow-x: auto; /* Permitir el scroll horizontal */
    overflow-y: hidden; /* No permitir el scroll vertical */
}

/* Ocultar la barra de desplazamiento horizontal */
.dropdownContent::-webkit-scrollbar {
    height: 0; /* Ocultar la barra de desplazamiento horizontal */
}

/* Hacer que el contenido se muestre correctamente */
.show .dropdownContent {
    display: flex; /* Muestra el contenido */
    flex-direction: row;
    height: 180px; /* Mantener el scroll habilitado */
}

.show {
    transform: translateY(0); /* Mueve el botón hacia arriba */
}


/* aaa */
.Vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.VerticalDos {
    display: flex;
    flex-direction: column;
}

.HorizontalDos {
    display: flex;
    flex-direction: row;
}
.Jugador{
    margin: 10px;
}

.Mco {
    margin-left: 150px;
}

.Extremos{
    margin-right: 250px;
}

.Delantero{
    margin-left: 150px;
}

.divloader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    color: white;
    text-shadow:
    0 0 2px #00e5ff,
    0 0 5px #ffffff;
    flex-direction: column;
    gap: 1em;
}

.loader {
    border: 16px solid #ffe600;
    border-top: 16px solid #00b7ff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  /* Add some glow effect */
  .loader::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px #00b7ff;
  }
  
  /* Rotate the circle */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .divLogOut {
    position: fixed; /* O absolute, según necesites */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde el lado izquierdo */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }
  .divLogOutDos {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    background-color: rgb(7, 0, 12);
    position: fixed; /* O absolute, según necesites */
    top: 700px; /* Ajusta la distancia desde la parte superior */
    left: 1450px; /* Ajusta la distancia desde el lado izquierdo */
    z-index: 9999; /* Asegúrate de que esté encima de otros elementos */

    height: 4em;
    width: 200px;
    border-radius: 3em;
    padding-left: 3em;

    font-family: "Russo One", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 0.1px solid #ffcc00;

  }

  .divLogOutTres {
    position: fixed; /* O absolute, según necesites */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 1430px; /* Ajusta la distancia desde el lado izquierdo */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }