
/* page.module.css */

.body {

    background-image: url("/images/fondoFutbolitosDraft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.main {
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.divLogOut {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

/* Dropdown container styles */
.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse; /* Coloca el botón encima */
    align-items: left;
    transition: transform 0.5s ease; /* Animación de deslizamiento suave */
    transform: translateY(0);
    margin: 0;
    padding: 0;
    z-index: 1;
}
.buttonContainer {
    display: flex;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, rgba(57, 215, 255, 0.432), #2020b4);
    color: white;
    border: none;
    outline: none;
    z-index: 2;
    border-radius: 20px 20px 0 0;
    transition: background-color 1.5s ease;
    margin: 0;
}

.button:hover {
    background-color: #00fff2;
}

.dropdownContent {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: none; /* Oculto inicialmente */
    transform: translateY(0);
    margin: 0;
}

.show .dropdownContent {
    display: block; /* Mostrar contenido del desplegable */
}

.show {
    transform: translateY(0); /* Mueve el botón hacia arriba */
}
