.body{
    background-image: url("/images/fondoPagInicial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    max-height: 100vh;
    max-width: 100vw;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: space-between
}

.Juego {
    display: flex;
    width: 80%;
    height: 100%;
    background-color: black;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.Cards {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 10px;

    width: 20%;
    height:100%;

    background-color: rgb(255, 255, 255);
}

.carta {
    width: fit-content;
    height: fit-content;
}

.TableroPuntaje {
    display: flex;
    width: 80%;
    height: 100%;
    background-color: black;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 2em;
}