.body{
    background-image: url("/images/fondoPagInicial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    max-height: 100vh;
    max-width: 100vw;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: space-between
}

.Juego {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.fondo {
    background-image: url("/images/fondoFutbolitosBattle.png");
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que el fondo cubra todo el área del contenedor sin distorsionarse */
    background-position: center center; /* Centra el fondo tanto horizontal como verticalmente */
    width: 100%; /* Asegura que el fondo ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que el fondo ocupe toda la altura del contenedor */
    max-width: 100%; /* Evita que el fondo exceda el ancho de la pantalla */
    max-height: 100vh; /* Limita la altura máxima al 100% de la altura de la ventana */
}

.Cards {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 10px;

    width: 20%;
    height:100%;

    background: linear-gradient(270deg, rgb(16, 0, 42), #17000a);
}

.carta {
    width: fit-content;
    height: fit-content;
}

.TableroPuntaje {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 2em;
}