
.pagina {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {

  margin-top: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;

  height: 50%;
  width: 50%;


}



.loader {
  position: relative;
  width: 200px; /* Aumentar el ancho total del loader */
  display: flex;
  justify-content: space-between;
}
.loader::after,
.loader::before {
  content: "";
  display: inline-block;
  width: 96px; /* Aumentar el ancho de cada ojo */
  height: 96px; /* Aumentar la altura de cada ojo */
  background-color: #fff;
  background-image: radial-gradient(circle 28px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
}
@keyframes eyeMove {
  0%,
  10% {
      background-position: 0px 0px;
  }
  13%,
  40% {
      background-position: -30px 0px; /* Ajustar según el nuevo tamaño */
  }
  43%,
  70% {
      background-position: 30px 0px; /* Ajustar según el nuevo tamaño */
  }
  73%,
  90% {
      background-position: 0px 30px; /* Ajustar según el nuevo tamaño */
  }
  93%,
  100% {
      background-position: 0px 0px;
  }
}
@keyframes blink {
  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
      height: 96px; /* Aumentar la altura del ojo cuando está abierto */
  }
  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
      height: 36px; /* Aumentar la altura del ojo cuando está cerrado */
  }
}