.body{
    background-image: url("/images/fondoPagInicial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    max-height: 100vh;
    max-width: 100vw;
}

.divLogOut {
    position: fixed; /* O absolute, según necesites */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde el lado izquierdo */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }