.Esperando {
    margin-top: 2em;    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
  }

.main {
    display: grid;
    grid-template-columns: 1fr 5fr; /* Dos columnas: la primera más pequeña */
    width: 100vw; 
    height: 87vh;  
}

.informacion {
    padding: 1em;
    text-align: center;
    max-width: 30vw;
    word-wrap: break-word; /* Ajusta el texto para que se mantenga dentro del ancho */
    overflow-wrap: break-word; /* Alternativa moderna a word-wrap */
    white-space: normal; /* Permite que el texto se ajuste y no se desborde */
}

.InfoBotones {
    display: flex;
    /* flex-direction: row; */
}

.Error {
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: row;
}

.divLogOut {
    position: fixed; /* O absolute, según necesites */
    top: 25px; /* Ajusta la distancia desde la parte superior */
    left: 90px; /* Ajusta la distancia desde el lado izquierdo */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }

  .MensajeEstado {
    color: azure;
  }